* {
    border-radius: 0;
    font-family: "Source Code Pro";
    font-size: 20px;
    min-height: 0;
}

@import "gruvbox.css";

window#waybar {
    background: rgba(40, 40, 40, 1);
    color: @white_b;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @white_b;
}

#workspaces button.focused {
    background: @white_b;
    color: rgba(40,40,40,1);
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: @red;
}

#clock {
    color: @white_b;
}

#battery {
    color: @white_b;
}

#battery.charging {
    color: @white_b;
}

@keyframes blink {
    to {
        background-color: @white_b;
        color: @background;
    }
}

#network, #battery, #clock, #tray {
     padding: 0 6px;
}

#battery.warning:not(.charging) {
    background: @red;
    color: @white_b;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
